In [10]:
import numpy as np
import pandas as pd

import re
from datetime import datetime

In [2]:
df = pd.read_csv('./combined.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23735 entries, 0 to 23734
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            23735 non-null  int64
 1   ACCIDENTDATE          23735 non-null  object
 2   AOTACTUALMILEPOINT    23735 non-null  float64
 3   AOTROUTE              23735 non-null  object
 4   Animal                23735 non-null  object
 5   CITYORTOWN            23735 non-null  object
 6   DIROFCOLLI            23735 non-null  object
 7   DayNight              23735 non-null  object
 8   HOWMAPPED             23735 non-null  object
 9   INTERSECTIONWITH      23735 non-null  object
 10  Impairment            23735 non-null  object
 11  InjuryType            23735 non-null  object
 12  Involving             23735 non-null  object
 13  LAT_DD                23735 non-null  float64
 14  LOCALID               23735 non-null  object
 15  LOC_ERROR             23735 non-null  object
 16  LONG_DD               23735 non-null  float64
 17  LRSNUMBER             23735 non-null  object
 18  NonReportableAddress  23735 non-null  object
 19  REPORTINGAGENCY       23735 non-null  object
 20  REPORTNUMBER          23735 non-null  object
 21  RoadCharacteristics   23735 non-null  object
 22  RoadCondition         23735 non-null  object
 23  RoadGroup             23735 non-null  object
 24  STREETADDRESS         23735 non-null  object
 25  SurfaceCondition      23735 non-null  object
 26  Weather               23735 non-null  object
 27  X                     23735 non-null  float64
 28  Y                     23735 non-null  float64
 29  Year                  23735 non-null  int64
dtypes: float64(5), int64(2), object(23)
memory usage: 5.4+ MB

In [16]:
pd.get_dummies(df['CITYORTOWN'])

,Addison,Albany,Alburg,Alburgh,Andover,Arlington,Athens,Averill,Bakersfield,Baltimore,...,Wilmington,Windham,Windsor,Winhall,Winooski City,Wolcott,Woodbury,Woodford,Woodstock,Worcester
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23730,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23733,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23734,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
animal = pd.get_dummies(df['Animal'])
animal['None/Other'] = pd.merge(animal['None/Other', 'Unknown', on='id', how='inner')

       Deer  Domestic  Moose  None/Other  Unknown  Wild
0         0         0      0           1        0     0
1         0         0      0           1        0     0
2         0         0      0           1        0     0
3         0         0      0           1        0     0
4         0         0      0           1        0     0
...     ...       ...    ...         ...      ...   ...
23730     0         0      0           1        0     0
23731     0         0      0           1        0     0
23732     0         0      0           1        0     0
23733     0         0      0           1        0     0
23734     0         0      0           1        0     0

[23735 rows x 6 columns]

In [14]:
datetime = df['ACCIDENTDATE']
match = re.search(r'\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}', datetime[0])
date = datetime.strptime(match.group(), '%Y-%m-%d').date()

AttributeError: 'Series' object has no attribute 'strptime'